<div [@toggleMainMenu]="animationState"
     (@toggleMainMenu.start)="toggleMainMenuStart($event)"
     class="main-menu">
    <div [class.main-menu-hidden]="false && animationState === 'hide'"
         class="main-menu-content">

        <mat-toolbar color="accent"
                     class="main-menu-toolbar">

            <span>
                <i class="material-icons">
                    face
                </i>
                <span>
                    AAA xfgdfg ndfgd
                </span>
            </span>
        </mat-toolbar>

        <div [@toggleMainMenuContainerBody]="animationState"
             class="main-menu-content-body">

            <mat-card *ngFor="let item of mediumContent"
                      class="lorem-ipsum-card">
                <app-icon-menu>

                </app-icon-menu>
                {{item}}
                <img src="assets/images/test/angular.png">
            </mat-card>

        </div>
    </div>
    <div class="main-menu-buttons">
        <button (click)="expand()"
                mat-button
                class="main-menu-button">
            <i class="material-icons">
                menu
            </i>
        </button>
        <mat-divider>

        </mat-divider>
        <button (click)="expand()"
                mat-button
                class="main-menu-button">
            <i class="material-icons">person</i>
        </button>

        <button (click)="expand()"
                mat-button
                class="main-menu-button">
            <i class="material-icons">star_border</i>
        </button>
        <button (click)="expand()"
                mat-button
                class="main-menu-button">
            <i matBadge="7"
               matBadgeColor="warn"
               class="material-icons">chat_bubble_outline</i>
        </button>

        <div class="divider">

        </div>
        <button (click)="expand()"
                mat-button
                class="main-menu-button">
            <i matBadge="4"
               matBadgeColor="warn"
               class="material-icons">
                notifications_none
            </i>
        </button>
        <mat-divider>

        </mat-divider>
        <button (click)="expand()"
                mat-button
                class="main-menu-button">
            <i class="material-icons">settings</i>
        </button>
    </div>

</div>
<div [@toggleMainMenuMask]="animationState"
     (click)="expand()"
     class="main-menu-mask">
</div>


<div class="main-container">
    <mat-toolbar color="primary"
                 class="main-container-toolbar">
        <span>Welcome to {{ title }}!</span>
    </mat-toolbar>
    <mat-toolbar>
        <span>
            Buttons
        </span>
    </mat-toolbar>

    <mat-tab-group>
        <mat-tab label="Raised Buttons">

            <mat-card>
                <div class="button-row">
                    <button mat-raised-button>
                        Basic
                    </button>
                    <button mat-raised-button
                            color="primary">
                        Primary
                    </button>
                    <button mat-raised-button
                            color="accent">
                        Accent
                    </button>
                    <button mat-raised-button
                            color="warn">
                        Warn
                    </button>
                    <button mat-raised-button
                            disabled>
                        Disabled
                    </button>
                    <a mat-raised-button
                       routerLink=".">
                        Link
                    </a>
                </div>
            </mat-card>

        </mat-tab>

        <mat-tab label="Basic Buttons">

            <mat-card>
                <div class="button-row">
                    <button mat-button>Basic</button>
                    <button mat-button
                            color="primary">Primary</button>
                    <button mat-button
                            color="accent">Accent</button>
                    <button mat-button
                            color="warn">Warn</button>
                    <button mat-button
                            disabled>Disabled</button>
                    <a mat-button
                       routerLink=".">Link</a>
                </div>
            </mat-card>

        </mat-tab>
    </mat-tab-group>


    <mat-toolbar>
        <span>Form Fields</span>
    </mat-toolbar>

    <mat-form-field class="example-full-width">
        <input [attr.name]="'asd'"
               matInput
               placeholder="Favorite food"
               value="Sushi">
    </mat-form-field>

    <i class="material-icons">face</i>



    <!-- <mat-icon svgIcon="app-icon-list"></mat-icon> -->

    <mat-card *ngFor="let item of longContent"
              class="lorem-ipsum-card">
        <app-icon-list></app-icon-list>
        {{item}}
    </mat-card>
</div>