:host {

.example-viewport {
  width: 100%;
  height: 100%;
}

  .aaa {
  height: 100%;
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;

  }


  .main-menu-hidden {
    display: none;
  }
  .main-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: #eee;
    width: 80%; // width: 500px;
    // margin: 0 -440px;
    height: calc(100% + 100px);
    min-width: 60px;
    max-width: 800px;
    box-shadow: 0 0 5px #999, -13px 0 41px 0px black;
    z-index: 999;
    .main-menu-content {
      flex: 1;
      overflow-y: auto;
      margin-bottom: 100px;
      .main-menu-toolbar {
        position: sticky;
        top: 0;
        z-index: 1;
        height: 64px;
      }
      .main-menu-content-body {
        height: 100%;
        display: none;
        .main-mat-tab-group {
          height: 100%;
          .main-no-tab-label,
          .mat-tab-label {
            display: none;
          }
        }
        .lorem-ipsum-card {
          margin: 10px;
        }
      }
    }
    .main-menu-buttons {
      width: 60px;
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
      .divider {
        flex: 1;
      }
      .main-menu-button {
        width: 60px;
        min-width: 60px;
      }
    }
  }
  .main-menu-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 100px);
    background: white;
    z-index: 998;
    opacity: .4;
  }
  .main-container {
    margin-left: 60px; // margin-top: 64px;
    .main-container-toolbar {
      z-index: 2;
      position: sticky;
      top: 0;
      left: 0;
      height: 64px;
    }
    .lorem-ipsum-card {
      margin: 20px;
    }
  }
}